
<div class="display-flex width-full">
  <div class="display-flex width-full flex-column minw-0">
    <div class="usa-overlay" [ngClass]="{'is-visible': mobileMenuOpen}"></div>

    
      <router-outlet></router-outlet>
    
    
    
    <footer class="usa-footer">
      <div class="grid-container usa-footer__return-to-top">
        <a href="#">Return to top</a>
      </div>
      <div class="usa-footer__primary-section">
        <nav class="usa-footer__nav" aria-label="Footer navigation">
          <ul class="grid-row grid-gap">
            <li class="
                  mobile-lg:grid-col-4
                  desktop:grid-col-auto
                  usa-footer__primary-content
                ">
              <a class="usa-footer__primary-link" href="javascript:void(0);">&lt;Primary link&gt;</a>
            </li>
            <li class="
                  mobile-lg:grid-col-4
                  desktop:grid-col-auto
                  usa-footer__primary-content
                ">
              <a class="usa-footer__primary-link" href="javascript:void(0);">&lt;Primary link&gt;</a>
            </li>
            <li class="
                  mobile-lg:grid-col-4
                  desktop:grid-col-auto
                  usa-footer__primary-content
                ">
              <a class="usa-footer__primary-link" href="javascript:void(0);">&lt;Primary link&gt;</a>
            </li>
            <li class="
                  mobile-lg:grid-col-4
                  desktop:grid-col-auto
                  usa-footer__primary-content
                ">
              <a class="usa-footer__primary-link" href="javascript:void(0);">&lt;Primary link&gt;</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="usa-footer__secondary-section">
        <div class="grid-container">
          <div class="grid-row grid-gap">
            <div class="
                  usa-footer__logo
                  grid-row
                  mobile-lg:grid-col-6 mobile-lg:grid-gap-2
                ">
              <div class="mobile-lg:grid-col-auto">
                <img class="usa-footer__logo-img" src="/assets/logo-img.png" alt="" />
              </div>
              <div class="mobile-lg:grid-col-auto">
                <p class="usa-footer__logo-heading">&lt;Name of Agency&gt;</p>
              </div>
            </div>
            <div class="usa-footer__contact-links mobile-lg:grid-col-6">
              <div class="usa-footer__social-links grid-row grid-gap-1">
                <div class="grid-col-auto">
                  <a class="usa-social-link" href="javascript:void(0);"><img class="usa-social-link__icon"
                      src="/assets/usa-icons/facebook.svg" alt="Facebook" /></a>
                </div>
                <div class="grid-col-auto">
                  <a class="usa-social-link" href="javascript:void(0);"><img class="usa-social-link__icon"
                      src="/assets/usa-icons/twitter.svg" alt="Twitter" /></a>
                </div>
                <div class="grid-col-auto">
                  <a class="usa-social-link" href="javascript:void(0);"><img class="usa-social-link__icon"
                      src="/assets/usa-icons/youtube.svg" alt="YouTube" /></a>
                </div>
                <div class="grid-col-auto">
                  <a class="usa-social-link" href="javascript:void(0);"><img class="usa-social-link__icon"
                      src="/assets/usa-icons/instagram.svg" alt="Instagram" /></a>
                </div>
                <div class="grid-col-auto">
                  <a class="usa-social-link" href="javascript:void(0);"><img class="usa-social-link__icon"
                      src="/assets/usa-icons/rss_feed.svg" alt="RSS" /></a>
                </div>
              </div>
              <p class="usa-footer__contact-heading">
                &lt;Agency Contact Center&gt;
              </p>
              <address class="usa-footer__address">
                <div class="usa-footer__contact-info grid-row grid-gap">
                  <div class="grid-col-auto">
                    <a href="tel:1-800-555-5555">&lt;(800) 555-GOVT&gt;</a>
                  </div>
                  <div class="grid-col-auto">
                    <a href="mailto:info@agency.gov">&lt;info.gov&gt;</a>
                  </div>
                </div>
              </address>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <div class="usa-identifier">
      <section class="usa-identifier__section usa-identifier__section--masthead" aria-label="Agency identifier">
        <div class="usa-identifier__container">
          <div class="usa-identifier__logos">
            <a href="javascript:void(0)" class="usa-identifier__logo"><img class="usa-identifier__logo-img"
                src="/assets/circle-gray-20.svg" alt="&lt;Parent agency&gt; logo" role="img" /></a>
          </div>
          <section class="usa-identifier__identity" aria-label="Agency description">
            <p class="usa-identifier__identity-domain">domain.gov</p>
            <p class="usa-identifier__identity-disclaimer">
              An official website of the <a href="">&lt;Parent agency&gt;</a>
            </p>
          </section>
        </div>
      </section>
      <nav class="usa-identifier__section usa-identifier__section--required-links" aria-label="Important links">
        <div class="usa-identifier__container">
          <ul class="usa-identifier__required-links-list">
            <li class="usa-identifier__required-links-item">
              <a href="javascript:void(0)" class="usa-identifier__required-link usa-link">About &lt;Parent shortname&gt;</a>
            </li>
            <li class="usa-identifier__required-links-item">
              <a href="" class="usa-identifier__required-link usa-link">Accessibility support</a>
            </li>
            <li class="usa-identifier__required-links-item">
              <a href="" class="usa-identifier__required-link usa-link">FOIA requests</a>
            </li>
            <li class="usa-identifier__required-links-item">
              <a href="" class="usa-identifier__required-link usa-link">No FEAR Act data</a>
            </li>
            <li class="usa-identifier__required-links-item">
              <a href="" class="usa-identifier__required-link usa-link">Office of the Inspector General</a>
            </li>
            <li class="usa-identifier__required-links-item">
              <a href="" class="usa-identifier__required-link usa-link">Performance reports</a>
            </li>
            <li class="usa-identifier__required-links-item">
              <a href="" class="usa-identifier__required-link usa-link">Privacy policy</a>
            </li>
          </ul>
        </div>
      </nav>
      <section class="usa-identifier__section usa-identifier__section--usagov"
        aria-label="U.S. government information and services">
        <div class="usa-identifier__container">
          <div class="usa-identifier__usagov-description">
            Looking for U.S. government information and services?
          </div>
          <a href="https://www.usa.gov/" class="usa-link">Visit USA.gov</a>
        </div>
      </section>
    </div>
  </div>


  <adapt-accessibility-widget [ngClass]="{'open':a11yPanelOpen}"></adapt-accessibility-widget>

</div>

<!-- <section
  class="display-flex gap-105 width-full padding-x-2 position-fixed top-0 z-100 bg-body flex-align-center border-bottom-2px border-base-lighter flex-justify">
  <ul class="usa-button-group"
    style="--usa-button-padding-y:var(--usa-spacing-2px);--usa-button-padding-x:var(--usa-spacing-1)">
    <li class="usa-button-group__item">
      <button class="usa-button usa-button--outline" (click)="setA11y('a11y-preset', 'default')">Default</button>
    </li>
    <li class="usa-button-group__item">
      <button class="usa-button usa-button--outline" (click)="setA11y('a11y-preset', 'low-vision')">Low vision</button>
    </li>
    <li class="usa-button-group__item">
      <button class="usa-button usa-button--outline" (click)="setA11y('a11y-preset', 'dyslexia')">Dyslexia</button>
    </li>
    <li class="usa-button-group__item">
      <button class="usa-button usa-button--outline" (click)="setA11y('a11y-preset', 'monochrome')">Monochrome</button>
    </li>
    <li class="usa-button-group__item">
      <button class="usa-button usa-button--outline" (click)="setA11y('a11y-preset', 'dark')">Dark
        mode</button>
    </li>
  </ul>
  <ul class="usa-button-group"
    style="--usa-button-padding-y:var(--usa-spacing-2px);--usa-button-padding-x:var(--usa-spacing-1)">
    <li class="usa-button-group__item" *ngFor="let theme of availableThemes">
      <button type="button"
        [ngClass]="{'usa-primary': currentTheme === theme, 'usa-button--outline': currentTheme !== theme}"
        (click)="setTheme(theme)" class="usa-button text-capitalize">{{theme}}</button>
    </li>
  </ul>

</section> -->
